#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Krub', sans-serif;
  background-color: #2c3e50;
  background-color: #1d3d5e;
}
.main-content {
  display: grid;
  grid-template-columns: 2fr 4fr;
}
#graph {
  display: block;
  width: calc(100% - 4rem);
  height: 450px;
  margin: .5rem 1rem;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: .5rem;
  box-shadow: 0px 1px 4px 1px black;
}
#result {
  display: block;
  width: calc(100% - 4rem);
  height: 450px;
  margin: .5rem 1rem;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0);
  border-radius: .5rem;
  box-shadow: 0px 1px 4px 1px black;
}
canvas {
  left: 0;
}
h3{
  text-align: center;
  color: #ffffec;
  font-size: 2.5rem;
}
p{
  color: #dadada;
}
.header-container{
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  background-color: #30df6a;
  background: linear-gradient(to bottom, #30df6a, #43ee85);
  box-shadow: 1px 0 3px 1px #30df6a;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
  list-style: none;
}
.nav ul a {
  color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
  background-image: linear-gradient(#000, #000);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}
a:hover, a:focus {
  background-size: 100% 2px;
}
input {
  width: 30rem;
  height: 3rem;
  border-radius: .3rem;
  border: none;
  outline: none;
  padding-left: .5rem;
  font-family: 'krub';

  /* margin-left: 1rem; */
}
.main-section {
  margin-top: 2rem;
}
.bold{
  font-weight: bold;
}
.arroba {
  color: #fff;
  margin-left: 1rem;
  vertical-align: middle;
  font-size: 2.6rem;
}
.ingresar-username{
  display: block;
  margin-left: 1rem;
  color: #e0e0e0;
}
.ingresar-limitNodes{
  margin-left: 1rem;
  color: #e0e0e0;
}
#limitNodes {
  width: 6rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
button {
  width: 12rem;
  height: 3rem;
  margin: 1rem auto ;
  font-family: 'Krub', sans-serif;
  font-weight: bold;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
  transition: .2s ease;
  display: block;
}
button:hover {
  box-shadow: 0px 0 5px 0 #fff;
}
.obtener-data{
  display: inline-block;
  margin-left: .5rem;
}

.ruta-mas-corta-container{
  margin: 1rem 0 0 1rem;
  border-bottom: 1px solid gray;
}
.arbol-expansion-minimo-container{
  margin: 1rem 0 0 1rem;
  border-bottom: 1px solid gray;
}
.ruta-mas-corta{
  background-color: whitesmoke;
  display: block;
}

.ruta-mas-corta:hover  {
  box-shadow: 0px 0 5px 0 #a2ebbe;
}
.arbol-minimo-prim { 
  background-color: whitesmoke;
  display: block;
}
.arbol-minimo-prim:hover {
  box-shadow: 0px 0 5px 0 #a2ebbe;
}
.rmc-error, .prim-error, .fetch-error, .limit-error{
  display: none;
  text-align: center;
  background-color: rgb(255, 71, 71);
  padding: .5rem 0;
  border-radius: .5rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: bold;
}


h2 {
  align-self: center;
  color: azure;
  text-align: center;
}
footer {
  /* position: absolute; */
  /* bottom: 0; */
  background-color: #b7fad1;
  width: 100%;
  margin-top: 2rem;
  height: 4rem;
  padding: 1rem;
  box-shadow: 1px 0 3px black;
}
.bold {
  font-weight: bold;
}